.app {
 width: 100%;
 display: flex;
 justify-content:center;
}
.wrap {
  width:40%;
  background-color: bisque;
}
.btn-add {
  background-color:#10b981;
  border:none;
  outline:none;
  padding: 0.3rem 1rem;
  margin-left: 1rem;
  border-radius:0.3rem;
}
ul {
  padding:1rem;
}
ul li {
  width: 100%;
  list-style: none;
}
.item {
  display:flex;
  justify-content: space-between;
  font-size: 1.2rem;
  padding: .1rem;
  border-bottom: 1px solid tan;
}
.item:hover {
  background-color: rgba(231, 203, 166, 0.918);
}
label {
  display: block;
  width: 100%;
}
form {
  padding-bottom: 1rem;
  background-color:white;
}
form,input  {
  width: 100%;
  display:flex;
}
input {
  height: 1.8rem;
}
